<!-- taken from https://fdossena.com/?p=html5cool/buttons/i.frag -->
<style>
    a.href-btn{ background-color:#42cc8c; display:inline-block; padding:0.46em 1.6em; border:0.1em solid #000000; margin:0 0.2em 0.2em 0; border-radius:0.12em; box-sizing: border-box; text-decoration:none; font-family:'Roboto',sans-serif; font-weight:300; color:#000000; text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); text-align:center; transition: all 0.15s; } a.href-btn:hover{ text-shadow: 0 0 2em rgba(255,255,255,1);  color:#FFFFFF; border-color:#FFFFFF; } @media all and (max-width:30em){ a.href-btn{ display:block; margin:0.4em auto; } }
</style>

<div style="margin-top: 30%; text-align:center">
    <a href="https://web.whatsapp.com" class="href-btn">Network Not Available. Click to Load.</a>
</div>
